{% extends 'base.html.twig' %}
{% block body %}

    {# {{ dump(quacks) }} #}
    {# {{ dump(ducks) }} #}
    <div class="container_home">
        <h1>Accueil</h1>
        {% for quack in quacks %}
            {% if quack.isComment == false %}
                <div class="tweet">
                    <div class="top_tweet_container">
                        <div class="tweet_profil">
                            <a href="{{ path('app_duck_show', {id:quack.getDuckId.getId}) }}">
                            <img class="tweet_profile_img"
                                 src="{{ quack.getDuckId.getImageProfile }}"
                                 alt="Avatar">
                            </a>
                        </div>
                        <div class="tweet-header">
                            <span class="tweet-author"> De : <strong> {{ quack.author }} </strong></span>
                            <br>
                            <span class="tweet-time"> Posté à : {{ quack.createdAt | date ("H:i:s / d-m-y") }}</span>
                        </div>
                    </div>
                    <div class="tweet-content">
                        <div class="tweet-text">
                            <p> {{ quack.content }} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aliquid beatae cumque dolore ea earum laboriosam, maxime molestiae molestias nam neque
                                nulla
                                numquam officia,
                                quasi quo quod, repellat repellendus saepe temporibus.
                            </p>
                            <p>{{ quack.tags }}</p>
                        </div>
                        <div class="contain_img_post">
                            <img class="img_post" src="{{ quack.photo }}" alt="post image">
                        </div>
                        {% for comment in quacks %}
                            {% if comment.idLinkedPost == quack.id %}
                                <div class="comment_container">
                                    <div class="comment_head">
                                        <div class="comment_profil">
                                            <a href="{{ path('app_duck_show', {id:comment.getDuckId.getId}) }}">
                                            <img class="comment_profile_img"
                                                 src="{{ comment.getDuckId.getImageProfile }}"
                                                 alt="Avatar">
                                            </a>
                                        </div>
                                        <div class="tweet-header">
                                            <span class="tweet-author"> De : <strong> {{ comment.author }} </strong></span>
                                            <br>
                                            <span class="tweet-time"> Posté à : {{ comment.createdAt | date ("H:i:s / d-m-y") }}</span>
                                        </div>
                                    </div>

                                    <p> {{ comment.content }} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Aliquid beatae cumque dolore ea earum laboriosam, maxime molestiae molestias nam
                                        neque
                                        nulla
                                        numquam officia,
                                        quasi quo quod, repellat repellendus saepe temporibus.
                                    </p>
                                    <p>{{ comment.tags }}</p>
                                    <div class="contain_img_comment">
                                        <img class="img_comment" src="{{ comment.photo }}" alt="post image">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if app.user == true %}
                            <div class="post_button_div">
                                <a href="{{ path('app_quack_crud_new', {iscomment: true, quackid: quack.id}) }}">
                                <button class="post_button">
                                    Commenter
                                </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}