{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    <h1>Quack index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Date</th>
                <th>Author</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quack in quacks %}
            <tr>
                <td>{{ quack.id }}</td>
                <td>{{ quack.content }}</td>
                <td>{{ quack.createdAt| date('d-m-y') }}</td>
                <td>{{ quack.author }}</td>
                <td>{{ quack.tags }}</td>
                <td>
                    <a href="{{ path('app_quack_crud_show', {'id': quack.id}) }}">show</a>
                    <a href="{{ path('app_quack_crud_edit', {'id': quack.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('app_quack_crud_new') }}">Create new</a>
    <br>
    <br>
    <a href="{{ path('app_home') }}">Home</a>
    <br>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
        <br>
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}
{% endblock %}
