<div class="container_header">
    <div class="logo_header">
        <a href="{{ path('app_home') }}">
<img src="https://www.freepnglogos.com/uploads/duck-png/duck-png-transparent-image-pngpix-5.png" alt="logo" class="logo_header">
        </a>
    </div>
    <div class="menu_header">

{#<a style="margin: 10px" href="{{ path('app_quack_crud_index') }}">CRUD Quack</a>#}


{% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <a class="header_menu_link" href="{{ path('app_quack_crud_new')}}">QUACK !</a>
    <a class="header_menu_link" href="{{ path('app_duck_show', {'id': app.user.id}) }}">Profile</a>
    <a class="header_menu_link" href="{{ path('app_logout') }}">Logout</a>

{% else %}
    <a class="header_menu_link" href="{{ path('app_login') }}">Login</a>

    <a class="header_menu_link" href="{{ path('app_register') }}">Register</a>
{% endif %}
    </div>
</div>